:root {
  --color-white: #fcfcfc;
  --color-black: #4a4a4a;
  --color-brand-primary: #11cc77;
  --color-brand-bg: #f2f0f0;
  --color-neutral-100: #f3f5f6;
  --color-neutral-200: #e0e4e6;
  --color-neutral-300: #d1d6da;
  --color-neutral-400: #bac2c7;
  --color-neutral-500: #96a2aa;
  --color-neutral-600: #86949d;
  --color-neutral-700: #86949d;
  --color-neutral-800: #6a7c88;
  --color-neutral-900: #495b67;

  font-size: 16px;
}
